/*centrerar alla element innanför body*/
body {
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    padding-top: 1%;
  }
  /*div element med knappar i där det är 30% distans mellan dem*/
  .block {
    background-color: rgb(190, 190, 190);
    width: 60%;
    height: 50%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    justify-content: center;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    grid-gap: 1%;

  }
  /*Knapp css*/
  .knapp {
    height: 10vh;
    width: 50%;
    background-color: rgb(0, 255, 34);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    font-size: 1vw;
    margin: auto;
  }
  /*Finns inte så mycket att förklara*/
  .knapp:hover {
    background-color: red;
  }
  
  #image {
    width: 10vw;

  }

  #Vibes{
    width: 15%;
    padding: 10px;
    }
  #left{
    top: 0;
    left: 1%;
    position: absolute; 
  }
  #mid{
    background-color: chocolate;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
